@font-face {
  font-family: 'Ubuntu';
  src: url('lib/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('lib/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('lib/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $magnolia;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, p {
  margin: 0;
}

input,
button {
  font-family: 'Ubuntu', sans-serif;
}