html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $magnolia;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}