// SIZES
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// COLORS
$lightBlue: hsl(206, 94%, 87%);
$marineBlue: hsl(213, 96%, 18%);
$purplishBlue: hsl(243, 100%, 62%);
$pastelBlue: hsl(228, 100%, 84%);
$strawberryRed: hsl(354, 84%, 57%);
$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// SHADOWS
$mainWrapperShadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);